{% extends 'registration/base.html' %}

{% block title-meta %} Products Gallery{% endblock %}
{% block title %}  Products Gallery {% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">

        </div>
        <!-- /.card-header -->
        {% if object_list%}
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Title</th>
                    <th>Product</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{product.user}}</td>
                    {% if product.status in 'bd'|make_list or user.is_superuser %}
                    <td><a href="{% url 'account:productgalleryupdate' product.pk %}">{{product.title}}</a></td>
                    {% else %}
                    <td>{{product.title}}</td>
                    {% endif %}
                    <td>{{product.product}}</td>
                    <td><img src="{{product.image.url}}" width="130" height="85"></td>
                    <td>
                        {% if product.status == 'p' %}
                        <span class="badge badge-success">Publish</span>
                        {% elif product.status == 'i' %}
                        <span class="badge badge-primary">Investigation</span>
                        {% else %}

                        {% if product.status == 'd' %}
                        <span class="badge badge-danger">Draft</span>
                        {% else %}
                        <span class="badge badge-warning">Back</span>
                        {% endif %}
                        {% endif %}

                        {% if user.is_superuser%}
                        <a class="badge text-danger"
                           href="{% url 'account:productgallerydelete' product.pk %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        {% else %}
        <h3>Nothing To Show</h3>
        {% endif %}
    </div>
    <!-- /.card -->
</div>
</div>
{% endblock%}