{% extends 'registration/base.html' %}

{% block title-meta %} Products Gallery{% endblock %}
{% block title %}  Products Gallery {% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Product</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{product.user}}</td>
                    {% if product.status == 'd' or user.is_superuser %}
                    <td><a href="{% url 'account:productgalleryupdate' product.pk %}">{{product.title}}</a></td>
                    {% else %}
                    <td>{{product.title}}</td>
                    {% endif %}
                    <td><img src="{{product.image.url}}" width="130" height="85"></td>
                    <td>
                        {% if product.status == 'p' %}
                        <span class="badge badge-success">Publish</span>
                        {% else %}
                        <span class="badge badge-danger">Draft</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
</div>
{% endblock%}