{% extends 'registration/base.html' %}

{% block title-meta %} Products List{% endblock %}
{% block title %}  Products List {% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">

        </div>
        <!-- /.card-header -->
        {% if object_list%}
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Product</th>
                    <th></th>
                    <th>Price</th>
                    <th>Active</th>
                    <th>Especial</th>
                    <th>Offer</th>
                    <th>Suggestion</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{product.user}}</td>
                    {% if product.status in 'bd'|make_list or user.is_superuser %}
                    <td><a href="{% url 'account:productupdate' product.pk %}">{{product.title}}</a></td>
                    {% else %}
                    <td>{{product.title}}</td>
                    {% endif %}
                    <td><img src="{{product.image.url}}" width="130" height="85"></td>
                    <td>{{product.price}}</td>
                    <td>{{product.active}}</td>
                    <td>{{product.is_especial}}</td>
                    <td>{{product.offer}}</td>
                    <td>{{product.our_suggestion}}</td>
                    <td>{{product.time}}</td>
                    <td>{{product.description | striptags |truncatewords:8}}</td>
                    <td>
                        {% if product.status == 'p' %}
                        <span class="badge badge-success">Publish</span>
                        <a href="{{product.get_absolute_url}}" class="badge badge-primary" target="_blank">See</a>
                        {% elif product.status == 'i' %}
                        <span class="badge badge-primary">Investigation</span>
                        {% if user.is_superuser  %}
                        <a href="{% url 'eshop_products:products_preview' product.pk  %}" class="badge badge-primary" target="_blank">See</a>
                        {% endif %}

                        {% else %}

                        {% if product.status == 'd' %}
                        <span class="badge badge-danger">Draft</span>
                        {% else %}
                        <span class="badge badge-warning">Back</span>
                        {% endif %}
                        {% endif %}

                        {% if user.is_superuser %}
                        <a class="badge text-danger" href="{% url 'account:productdelete' product.pk %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        {% else %}
        <h3>Nothing To Show</h3>
        {% endif %}
    </div>
    <!-- /.card -->
</div>
</div>
{% endblock%}