{% extends 'base/base.html' %}
{% load static %}
{% load comment_tags %}
{% load ratings %}


{% block content %}
<div class="section">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-light">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <h1 class="title">{{ product.title }}</h1>
                <ul>
                    <li>
                        <a href="index.html">Shop </a>
                    </li>
                    <li class="active"> {{product.title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

</div>
<div class="section section-margin">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-custom">

                <!-- Product Details Image Start -->
                <div class="product-details-img">
                    <!-- Single Product Image Start -->
                    <div class="single-product-img swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper popup-gallery" id="swiper-wrapper-43abea5ceccbc9f10"
                             aria-live="polite"
                             style="transform: translate3d(-380px, 0px, 0px); transition: all 0ms ease 0s;">
                            {% for image in gallery %}
                            <a class="swiper-slide w-100 swiper-slide-active"
                               href="{{ image.image.url }}" data-swiper-slide-index="0"
                               role="group" aria-label="2 / 8" style="width: 370px; margin-right: 10px;">
                                <img class="w-100" src="{{ image.image.url }}" alt="Product"
                                     style="width:250px;height:300px">
                            </a>
                            {% endfor %}
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <!-- Single Product Image End -->

                    <!-- Single Product Thumb Start -->
                    <div class="single-product-thumb swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs"
                         tabindex="0" role="button" aria-label="Previous slide"
                         aria-controls="swiper-wrapper-43abea5ceccbc9f10">
                        <div class="swiper-wrapper" id="swiper-wrapper-b37b89c6f79483f7" aria-live="polite"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">
                            {% for image in gallery %}
                            <div class="swiper-slide swiper-slide-visible" role="group" aria-label="3 / 6"
                                 style="width: 116.667px; margin-right: 10px;">
                                <img src="{{ image.image.url }}" alt="Product" style="width:110px;height:80px">
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Next Previous Button Start -->
                        <div class="swiper-button-horizental-next  swiper-button-next" tabindex="0" role="button"
                             aria-label="Next slide" aria-controls="swiper-wrapper-43abea5ceccbc9f10"><i
                                class="pe-7s-angle-right"></i></div>
                        <div class="swiper-button-horizental-prev swiper-button-prev" tabindex="0" role="button"
                             aria-label="Previous slide" aria-controls="swiper-wrapper-43abea5ceccbc9f10"><i
                                class="pe-7s-angle-left"></i></div>
                        <!-- Next Previous Button End -->

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <!-- Single Product Thumb End -->

                </div>
                <!-- Product Details Image End -->

            </div>
            <div class="col-lg-7 col-custom">

                <!-- Product Summery Start -->
                <div class="product-summery position-relative">

                    <!-- Product Head Start -->
                    <div class="product-head mb-3">
                        <h2 class="product-title">{{ product.title }}</h2>
                    </div>
                    <!-- Product Head End -->

                    <!-- Price Box Start -->
                    <div class="price-box mb-2">
                        <!--                        <span class="old-price">${{ product.discount }}</span>-->
                        <span class="regular-price"><del>${{ product.price }}</del></span>
                    </div>
                    <!-- Price Box End -->

                    <!-- Rating Start -->

                    {% ratings product %}
                    <!-- Rating End -->
                    <div class="price-box mb-2">
                        <span><del>{{ product.description | safe}}</del></span>
                    </div>
                    <!-- SKU Start -->
                    <div class="sku mb-3">
                        <p class="desc-content mb-5">{{ product.made_in }}</p>
                    </div>
                    <!-- SKU End -->
                    <!-- Description Start -->
                    <!-- Description End -->

                    <!-- Product Meta Start -->
                    <div class="product-meta mb-3">
                        <!-- Product Size Start -->
                        <div class="product-size">
                            <a href=""><strong>{{ product.size_choices }}</strong></a>
                        </div>
                        <!-- Product Size End -->
                    </div>
                    <!-- Product Meta End -->


                    <!-- Product Meta Start -->
                    <div class="product-meta mb-5">
                        <!-- Product Metarial Start -->
                        <div class="product-metarial">
                            <span>Material :</span>
                            <strong>{{ product.Materials }}</strong>
                        </div>
                        <!-- Product Metarial End -->
                    </div>
                    <!-- Product Meta End -->
                    <form action="{% url 'user-order:add-user-order' %}" method="post">
                        {% csrf_token %}
                        {{ new_order_form.product_id }}
                        <span class="product-var__text">Quantity</span>
                        <div class="product-quantity-box">
                            <div class="quantity">
                                {{ new_order_form.count }}
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up"><i
                                            class="icon-chevron-up"></i></div>
                                    <div class="quantity-button quantity-down"><i
                                            class="icon-chevron-down"></i></div>
                                </div>
                            </div>
                            <br>
                            <input type="submit" value="Add to cart"
                                   class="btn btn-outline-dark btn-hover-primary">
                            <a class="btn btn-outline-dark btn-hover-primary"
                               href="{% url 'eshop_products:products_list' %}">Shop</a>
                        </div>
                    </form>

                    <!-- Quantity Start -->

                    <!-- Quantity End -->

                    <!-- Cart & Wishlist Button Start -->
                    <div class="cart-wishlist-btn mb-4">


                    </div>
                    <!-- Cart & Wishlist Button End -->

                    <!-- Social Shear Start -->
                    <div class="social-share">
                        <span>Share :</span>
                        <a href="#"><i class="fa fa-facebook-square facebook-color"></i></a>
                        <a href="#"><i class="fa fa-twitter-square twitter-color"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square linkedin-color"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square pinterest-color"></i></a>
                    </div>
                    <!-- Social Shear End -->

                    <!-- Product Delivery Policy Start -->
                    <ul class="product-delivery-policy border-top pt-4 mt-4 border-bottom pb-4">
                        <li><i class="fa fa-check-square"></i> <span>Security Policy (Edit With Customer Reassurance Module)</span>
                        </li>
                        <li>
                            <i class="fa fa-truck"></i><span>Delivery Policy (Edit With Customer Reassurance Module)</span>
                        </li>
                        <li>
                            <i class="fa fa-refresh"></i><span>Return Policy (Edit With Customer Reassurance Module)</span>
                        </li>
                    </ul>
                    <!-- Product Delivery Policy End -->

                </div>
                <!-- Product Summery End -->

            </div>
        </div>
        <div class="row section-margin">
            <!-- Single Product Tab Start -->
            <div class="col-lg-12 col-custom single-product-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="home-tab" data-bs-toggle="tab" href="#connect-1"
                           role="tab" aria-selected="false">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase active" id="profile-tab" data-bs-toggle="tab"
                           href="#connect-2" role="tab" aria-selected="true">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="contact-tab" data-bs-toggle="tab" href="#connect-3"
                           role="tab" aria-selected="false">Shipping Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="review-tab" data-bs-toggle="tab" href="#connect-4"
                           role="tab" aria-selected="false">Size Chart</a>
                    </li>
                </ul>
                <div class="tab-content mb-text" id="myTabContent">
                    <div class="tab-pane fade" id="connect-1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="desc-content border p-3">
                            <p>{{ product.description | safe }}</p>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="connect-2" role="tabpanel" aria-labelledby="profile-tab">
                        <hr>
                        <!-- Start Single Content -->
                        {% if request.user.is_authenticated%}
                        {% render_comments product request %}
                        {% include_bootstrap %}
                        {% else%}
                        <a href="{% url 'account:login' %}" class="btn btn-primary">Login</a>
                        {% endif %}
                        <!-- End Single Content -->
                    </div>
                    <div class="tab-pane fade" id="connect-3" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- Shipping Policy Start -->
                        <div class="shipping-policy mb-n2">
                            <h4 class="title-3 mb-4">Shipping policy for our store</h4>
                            <p class="desc-content mb-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                vulputate</p>
                            <ul class="policy-list mb-2">
                                <li>1-2 business days (Typically by end of day)</li>
                                <li><a href="#">30 days money back guaranty</a></li>
                                <li>24/7 live support</li>
                                <li>odio dignissim qui blandit praesent</li>
                                <li>luptatum zzril delenit augue duis dolore</li>
                                <li>te feugait nulla facilisi.</li>
                            </ul>
                            <p class="desc-content mb-2">Nam liber tempor cum soluta nobis eleifend option congue nihil
                                imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem
                                insitam; est usus legentis in iis qui facit eorum</p>
                            <p class="desc-content mb-2">claritatem. Investigationes demonstraverunt lectores legere me
                                lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur
                                mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
                                putamus parum claram, anteposuerit litterarum formas humanitatis per</p>
                            <p class="desc-content mb-2">seacula quarta decima et quinta decima. Eodem modo typi, qui
                                nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                        </div>
                        <!-- Shipping Policy End -->
                    </div>
                    <div class="tab-pane fade" id="connect-4" role="tabpanel" aria-labelledby="review-tab">
                        <div class="size-tab table-responsive-lg">
                            <h4 class="title-3 mb-4">Size Chart</h4>
                            <table class="table border mb-0">
                                <tbody>
                                <tr>
                                    <td class="cun-name"><span>UK</span></td>
                                    <td>18</td>
                                    <td>20</td>
                                    <td>22</td>
                                    <td>24</td>
                                    <td>26</td>
                                </tr>
                                <tr>
                                    <td class="cun-name"><span>European</span></td>
                                    <td>46</td>
                                    <td>48</td>
                                    <td>50</td>
                                    <td>52</td>
                                    <td>54</td>
                                </tr>
                                <tr>
                                    <td class="cun-name"><span>usa</span></td>
                                    <td>14</td>
                                    <td>16</td>
                                    <td>18</td>
                                    <td>20</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="cun-name"><span>Australia</span></td>
                                    <td>28</td>
                                    <td>10</td>
                                    <td>12</td>
                                    <td>14</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td class="cun-name"><span>Canada</span></td>
                                    <td>24</td>
                                    <td>18</td>
                                    <td>14</td>
                                    <td>42</td>
                                    <td>36</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product Tab End -->
        </div>

        <!-- Products Start -->
        <div class="row">

            <div class="col-12">
                <!-- Section Title Start -->
                <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="title pb-3">You Might Also Like</h2>
                    <span></span>
                    <div class="title-border-bottom"></div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col">
                <div class="product-carousel">

                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper" id="swiper-wrapper-1f6bdcb44dc8ed29" aria-live="polite"
                             style="transform: translate3d(-1280px, 0px, 0px); transition: all 0ms ease 0s;">


                            <!-- Single Product Start -->
                            {% for product in related_products%}
                            <div class="product product-border-left aos-init aos-animate" data-aos="fade-up"
                                 data-aos-delay="300">
                                <div class="thumb">
                                    <a href="{{ product.get_absolute_url }}" class="image">
                                        <img class="first-image" src="{{ product.image.url }}"
                                             style="width:250px;height:200"
                                             alt="Product">
                                        <img class="second-image" src="{{ product.image.url }}"
                                             style="width:250px;height:200"
                                             alt="Product">
                                    </a>

                                </div>
                                <div class="content">
                                    <span>Studio Design</span>
                                    <h5 class="title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                    </h5>
                                    {% ratings product %}
                                    <span class="price">
                                                    <span class="new">${{ product.price }}</span>
                                        <!--                                            <span class="old">$42.85</span>-->
                                            </span>
                                    <a href="{{ product.get_absolute_url }}"
                                       class="btn btn-sm btn-outline-dark btn-hover-primary">See More</a>

                                </div>
                            </div>
                            {% endfor %}
                            <!-- Single Product End -->

                        </div>
                    </div>

                    <!-- Swiper Pagination Start -->
                    <div class="swiper-pagination d-md-none swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                      aria-label="Go to slide 1"></span><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                            role="button" aria-label="Go to slide 2"></span><span
                            class="swiper-pagination-bullet" tabindex="0" role="button"
                            aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet"
                                                                    tabindex="0" role="button"
                                                                    aria-label="Go to slide 4"></span><span
                            class="swiper-pagination-bullet" tabindex="0" role="button"
                            aria-label="Go to slide 5"></span></div>
                    <!-- Swiper Pagination End -->

                    <!-- Next Previous Button Start -->
                    <div class="swiper-product-button-next swiper-button-next swiper-button-white d-md-flex d-none"
                         tabindex="0" role="button" aria-label="Next slide"
                         aria-controls="swiper-wrapper-1f6bdcb44dc8ed29"><i class="pe-7s-angle-right"></i></div>
                    <div class="swiper-product-button-prev swiper-button-prev swiper-button-white d-md-flex d-none"
                         tabindex="0" role="button" aria-label="Previous slide"
                         aria-controls="swiper-wrapper-1f6bdcb44dc8ed29"><i class="pe-7s-angle-left"></i></div>
                    <!-- Next Previous Button End -->

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

            </div>
        </div>

    </div>
    <!-- Products End -->

</div>
</div>
{% endblock %}